
<%= stylesheet_link_tag "trees"%>
<div class="container">
<h1>Welcome To Linktree!</h1>
<p>What is your name ?</p>
  <input type="text" class="input"> <br>
<%= link_to "Next", new_tree_path, class:"button" %>
</div>